button,
input[type="button"],
input[type="reset"],
input[type="submit"], .button {
	border: 1px solid;
	border-radius: 0;
	line-height: 1;
	text-transform: uppercase;
	font-size: 19px;
	font-weight: $fontweight__medium;
	padding: 10px 2em;
	transition: all 0.3s ease;
 a {
	text-decoration: none;
 }
	&:hover {
		border-color: $color__red;
		background-color: $color__red;
		color: $color__text-on-red;
		padding: 10px 2em;

		a {
			text-decoration: none;
		}
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;

		a {
			text-decoration: none;
		}
	}
}

.button.red, button.red, input[type="button"].red, input[type="submit"].red {
	border-color: $color__red;
	background: $color__red;
	color: $color__text-on-red;
	&:hover { 
		border-color: $color__red;
		background: $color__text-on-red;
		color: $color__red;
		a {
			color: $color__red;	
		}
	}
	a {
		color: $color__text-on-red;	
	}
}

.button.yellow, button.yellow, input[type="button"].yellow, input[type="submit"].yellow {
	border-color: $color__yellow;
	background: $color__yellow;
	color: $color__text-on-yellow;
	&:hover { 
		border-color: $color__yellow;
		background: $color__text-on-yellow;
		color: $color__yellow;
		a {
			color: $color__yellow;	
		}
	}
	a {
		color: $color__text-on-yellow;	
	}
}

.button.grey, button.grey, input[type="button"].grey, input[type="submit"].grey {
	border-color: $color__grey;
	background: $color__grey;
	color: $color__text-on-grey;
	&:hover { 
		border-color: $color__lightgrey;
		background: $color__lightgrey;
		color: $color__grey;
		a {
			color: $color__grey;	
		}
	}
	a {
		color: $color__text-on-grey;	
	}
}

@media (max-width: 767.99px) {
	button {
		font-size: 16px;
	}
}