button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-radius: 0;
	line-height: 1;
	text-transform: uppercase;
	font-size: 19px;
	font-weight: $fontweight__medium;
	padding: 10px 2em;

	&:hover {
		border-color: $color__red;
		background-color: $color__red;
		color: $color__text-on-red;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.button.red, button.red, input[type="button"].red, input[type="submit"].red {
	border-color: $color__red;
	background: $color__red;
	color: $color__text-on-red;
}

.button.yellow, button.yellow, input[type="button"].yellow, input[type="submit"].yellow {
	border-color: $color__yellow;
	background: $color__yellow;
	color: $color__text-on-yellow;
}

.button.grey, button.grey, input[type="button"].grey, input[type="submit"].grey {
	border-color: $color__grey;
	background: $color__grey;
	color: $color__text-on-grey;
}
