input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 5px;
	padding: 5px 10px;
	padding-left: 10px;
	width: 100%;
	transition: all 0.2s ease-in-out;
	font-size: 19px;
	&:focus {
		color: $color__text-input-focus;
		border-left: 4px solid #cf4b3d;
	}
}

input[type="checkbox"], [type="checkbox"] {
	margin-right: 10px;
}

label {
	margin-bottom: 5px;
    display: inline-block;
    font-size: 1.2rem;
}

._form_element {
    margin-bottom: 15px;
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

::-webkit-input-placeholder {
	/* WebKit browsers */
	 color: transparent;
}
 :-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	 color: transparent;
}
 ::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	 color: transparent;
}
 :-ms-input-placeholder {
	/* Internet Explorer 10+ */
	 color: transparent;
}
 input::placeholder {
	 color: transparent;
}
 textarea::-webkit-input-placeholder {
	/* WebKit browsers */
	 color: transparent;
}
 textarea:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	 color: transparent;
}
 textarea::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	 color: transparent;
}
 textarea:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	 color: transparent;
}
 textarea::placeholder {
	 color: transparent;
}

@media (max-width: 767.99px) {
	input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
		font-size: 16px;
	}
}