$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e9c659;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #566272;
$color__header: #c05344;
$color__text-input: #566272;
$color__text-input-focus: #111;
$color__link: #c05344;
$color__link-visited: #c05344;
$color__link-hover: #c05344;
$color__text-main: #566272;


$color__border-button: #e9c659;
$color__border-button-hover: #e9c659;
$color__border-button-focus: #e9c659;
$color__border-input: #bbc0c6;
$color__border-abbr: #666;

$color__red: #c05344;
$color__yellow: #e9c659;
$color__grey: #566272;
$color__lightgrey: #bbc0c6;
$color__vlightgrey: #ececec;
$color__darkgrey: #454e5b;
$color__text-on-red: #fff;
$color__text-on-yellow: #566272;
$color__text-on-grey: #fff;
