#colophon {
    background: $color__grey;
    padding: 80px 0;
    text-align: center;
    position: relative;
    z-index: 1;
        .site-info {
            color: $color__lightgrey;
            font-size: .8rem;
        }
        .footer-socials {
            a {
                color: #fff;
                font-size: 25px;
                margin: 7.5px;
                transition: color .2s ease;
            }
            a:hover {
                color: $color__yellow;
            }
        }
        .footer-menu {
            #menu-footer {
                padding: 0;
                margin: 0;
                margin: 30px auto;
            }
            .sub-menu {
                display: none;
            }
            li {
                display: inline-block;
                margin-right: 15px;
                padding-right: 15px;
                border-right: 1px solid #7a7c84;
                border-top: none;
                padding-top: 7px;
                padding-bottom: 7px;
                margin-bottom: 10px;
                
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
            li:last-child {
                margin-right: 0;
                padding-right: 0;
                border-right: none;
            }

        }
}