#masthead {
    
    .inner {
        width: 90%;
        max-width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin: auto;
        display: flex;
    }
}

.site-branding {
    padding: 10px;

}


@media (min-width: 767.1px) {
    .custom-logo, .scrolling .custom-logo {
        max-height: 70px;
        width: auto;
    }
    /*--sticky header--*/
.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    background: #fff;
}

.site-content {
    margin-top: 95px;
}
    }


@media (max-width: 767px) {
    .custom-logo, .scrolling .custom-logo {
        max-height: 60px;
        width: auto;
    }
    }

@media (max-width: 575px) {
.custom-logo, .scrolling .custom-logo {
    max-height: 50px;
    width: auto;
}
.site-branding {
    margin-top: 0;
    margin-bottom: 0;
}
}