#masthead {
    display: flex;
    .inner {
        max-width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin: auto;
    }
}

.site-branding {
    padding: 10px;

    img {
        height: 77px;
        width: auto;
    }
}