
.page-template-about-page {
#above-fold { 
    background: $color__yellow;
    text-align: left;
    min-height: 0;
    padding: 80px 0;
    .row {
        min-height: 0;
    }
    .col {
        text-align: left;
    }
    h1 {
        color: $color__red;
        margin-top: auto;
        font-size: 60px;
        margin-bottom: 30px;
    }
    p {
        max-width: none;
        margin: 0;
        margin-bottom: 1em;
        color: $color__grey;
    }
}

#about {
    background: $color__vlightgrey;
    h2 {
        color: $color__red; 
    }
    p {
        color: $color__grey;   
    }
}

#team {
    padding-top: 0;
    .row {
        flex-wrap: wrap;
    }
    .col.quarter {
        margin-bottom: 30px;
    }
    .team-member {
        border: .66px solid $color__grey; 
        height: 100%;
        display: flex;
        flex-direction: column;
        .team-image {
            display: flex;
        }
        .team-info {
            padding: 15px;
            text-align: center;
            display: flex;
            flex-direction: column;
            flex: 1;
            h4 {
                font-size: 25px;
                color: $color__red; 
            }
            p {
                font-size: 14px;
            }
            a {
                align-self: flex-end;
                margin: auto;
                margin-bottom: 0;
                font-size: 14px;
            }
        }
    }
}

#callback-cta {
    background: $color__vlightgrey;
    h3 {
        color: $color__red;  
    }
    p {
        color: $color__grey; 
    }
}

/*--animations--*/ 

#above-fold { 
    h1, p, button {
    opacity: 0;
    }
}

#above-fold.start { 
    h1, p, button {
        animation: fade-in-bottom 1s ease both;
    }
    p {
        animation-delay: .3s;
    }
    button {
        animation-delay: .6s;
    }
}

#about {
    h2, p, .round-image img {
        opacity: 0;       
    }
}

#about.start {
    h2, p {
        animation: fade-in-bottom 1s ease both;    
    }
    .round-image img {
        animation: fade-in 1s ease both;   
    }
    h2 {
        animation-delay: .3s;
    }
    p {
        animation-delay: .6s;
    }
}

#callback-cta {
    h3, p, button {
        opacity: 0; 
    }
}

#callback-cta.start {
    h3, p, button {
        animation: fade-in-bottom 1s ease both; 
    }

    p {
        animation-delay: .3s;  
    }

    button {
        animation-delay: .6s;  
    }
}

}



