.mailing-list-trigger.fixed {
    position: fixed;
    left: -50px;
    top: 186.5px;
    transform: rotate(-90deg);
    background: #efc73e;
    padding: 10px 15px;
    border-radius: 0 0 5px 5px;
    color: #546274;
    font-size: 1.2rem;
    letter-spacing: .2px;

    .mailing-list-text {
        display: inline-block;
        padding-right: 5px;
    }
    .far {
        transform: rotate(90deg);
    }
}

.page-template-blog-page-template-php .entry-header {
display: none;
}

.page-template-blog-page-template-php section.no-sidebar {
    padding: 0;
}

/*--blog page header area--*/

.blog-page-header-area {
    background: #f4f4f7;
    margin-bottom: 40px;
    padding-top: 0;
    padding-bottom: 0;
}

.blog-header-inner {
    display: flex;
}
.blog-page-header-area .blog-search, .blog-page-header-area .blog-categories {
    padding: 20px;
}

.blog-page-header-area .widget {
    padding-bottom: 0;
}

.widgettitle {
    font-size: 1.2rem;
    line-height: 1.3rem;
    color: #768190;
    margin-bottom: 15px;
    font-weight: 600;
}

.widgettitle:after {
    content: " ";
    display: block;
    width: 30px;
    margin-top: 8px;
    height: 2px;
    background: #c9c7d8;
}

.blog-categories ul {
    margin: 0;
    padding: 0;
}

.blog-search input.search-submit {
    border-color: #bbc0c6;
    background: #bbc0c6;
    color: #566272;
    transition: all 0.3s ease;
    padding: 10px 1em;
}

.blog-search input.search-field {
    width: auto;
    height: 41px;
    border-radius: 0;
    padding: 5px 20px;
    margin-right: -5px;
    line-height: 1;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 1em;
    min-width: 65%;
}

.blog-search input.search-submit:hover {
    border-color: #566272;
    background: #566272;
    color: #fff;
}

.blog-categories li.cat-item {
    padding: 5px 10px;
    border: 1px solid #c9c7d8;
    display: inline-block;
    line-height: 1.2rem;
    font-size: .7rem;
    letter-spacing: .1px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.blog-categories li.cat-item a {
    box-shadow: none;
    color: #9795a2;
    transition: all 0.2s ease-in-out;
}

.blog-categories li.cat-item:hover {
    border: 1px solid #546274;
}

.blog-categories  li.cat-item:hover a, .blog-categories  li.cat-item a:hover {
    color: #546274;
    text-decoration: none;
}

/*--blog page footer area--*/ 
.mailing-list-sign-up.blog-footer {
    background: #f4f4f7;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
}
.mailing-list-sign-up.blog-footer .mailing-list-inner {
    display: flex;
    padding: 20px;
    max-width: 900px;
}

.mailing-list-sign-up.blog-footer .mailing-list-icon {
    width: 75px;
}

.mailing-list-sign-up.blog-footer .mailing-list-text {
    color: #3f4a57;
    font-weight: 700;
    padding-left: 40px;
}
.mailing-list-sign-up.blog-footer .mailing-list-trigger {
    align-self: flex-end;
    margin: auto;
    margin-right: 0;
}
.mailing-list-sign-up.blog-footer .mailing-list-button {
    border: 2px solid #cf4b3d;
    padding: 10px 25px;
    height: auto;
    display: block;
    margin-left: 40px;
    color: #cf4b3d;
    transition: all 0.4s ease-in-out;
    font-weight: 800;
    letter-spacing: .05rem;
    text-transform: uppercase;
    min-width: 175px;
    text-align: center;
}

.featured .blog-title, .blog-title {
    color: #546274;
    font-family: 'Montserrat';
    font-weight: $fontweight__medium;
}
.blog-meta {
    font-weight: $fontweight__medium;
}

.blog-image {
    display: flex;
}