.page-template-brands-agencies-page {
    #above-fold {
        background: $color__grey;
        text-align: left;
        min-height: 0;
        padding: 80px 0;
        .row {
            min-height: 0;
        }
        h1 {
            color: #fff;
            margin-top: auto;
            margin-bottom: 30px;
            max-width: none;
            margin-left: 0;
        }
        p {
            max-width: none;
            margin: 0;
            margin-bottom: 1em;
        }
        .row.blurbs {
            h3 {
                font-size: 22px;
                color: #fff;
                font-weight: $fontweight__bold;
                margin-bottom: 15px;
                align-self: flex-start;
                margin-top: 0;
                margin-left: 0;
                width: 100%;
            }
            img {
                margin-bottom: 15px;
                align-self: flex-start;
                margin-top: 0;
                margin-left: 0;
            }
            p {
                align-self: center;
                margin-bottom: auto;
                margin-left: 0;
                width: 100%;
            }
            .col.third {
                display: flex;
                flex-direction: column;
            }
            .blurb-inner {
                background: rgba(255,255,255,0.05);
                text-align: center;
                height: 100%;
                padding: 25px 20px;
            }
        }
        .row.intro {
            margin-bottom: 30px;
        }
    }

        #use-cases {
            background: $color__red;
        }

        #case-studies {
            .header-with-image {
                text-align: center;
                display: flex;
                justify-content: center;
                h2, img {
                    display: inline-block;
                }
                img {
                    margin-right: 30px;
                }
                h2 {
                    vertical-align: middle;
                    line-height: 2em;
                    color: $color__red;
                }
            }
            h3 {
                color: $color__red;
            }
            .row.intro {
                margin-bottom: 30px;
            }
            .row.tabs {
                padding-top: 30px;
            }
            #tabs {
                display: flex;
            }
            .ui-tabs .ui-tabs-nav {
                flex: 0 0 33.33333333%;
                max-width: 0 0 33.33333333%; 
                padding: 0;
                border-right: 2px solid $color__grey;    

                li {
                    width: 100%;
                    padding: 15px;
                    margin: 0;
                    transition: all 0.3s ease;
                    font-size: 25px;

                    a {
                        color: $color__grey;
                    }
                }
                li.ui-tabs-active {
                    padding-bottom: 15px;
                    margin: 0;
                    background: $color__grey;

                    a {
                        color: #fff;
                    }
                }
            }
            .ui-tabs .ui-tabs-panel {
                padding: 0 30px;
            }
            .tab-content-area {
                flex: 0 0 66.66666666%;
                max-width: 66.66666666%;
            }
            .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
                padding: 0;

            }
        }

 /*--animations--*/
 #above-fold { 
    h1, p, .row.blurbs .col.third {
    opacity: 0;
    }
}

#above-fold.start { 
    h1, p, .row.blurbs .col.third {
        animation: fade-in-bottom 1s ease both;
    }
    p {
        animation-delay: .3s;
    }
    .row.blurbs .col.third {
        animation-delay: .7s;
    }
    .row.blurbs .col.third:first-child {
        animation-delay: .6s;
    }
    .row.blurbs .col.third:last-child {
        animation-delay: .8s;
    }
}   
#use-cases {
    h2, .flipster__nav, .flipster__container {
        opacity: 0;   
    }
} 

#use-cases.start {
    .flipster__nav, .flipster__container {
        animation: fade-in 1s ease both;
    }
    h2 {
        animation: fade-in-bottom 1s ease both;  
    }
    .flipster__nav {
        animation-delay: .3s;  
    }
    .flipster__container { 
        animation-delay: .6s;  
    }
} 

#case-studies {
    .header-with-image, .row.tabs {
        opacity: 0;   
    }
}

#case-studies.start {
    .header-with-image, .row.tabs {
        animation: fade-in-bottom 1s ease both;  
    }
    .row.tabs {
        animation-delay: .3s;  
    }
}
/*--media queries--*/
@media (max-width: 767px) {
    #above-fold .row.blurbs .blurb-inner {
        max-width: 500px;
        margin: auto;
        margin-bottom: 30px;
    }
    #case-studies .row.intro {
        margin-bottom: 15px;
    }
   #case-studies .row.tabs {
        padding-top: 15px;
    }
    #case-studies .header-with-image img {
        height: 50px;
        width: auto;
        margin-right: 20px;
    }
    #case-studies .header-with-image h2 {
        line-height: 1.1em;
    }
    #case-studies #tabs {
        display: block;
    }
    #case-studies .ui-tabs .ui-tabs-nav, #case-studies .tab-content-area {
        width: 100%;
    max-width: 100%;
    display: block;
    }
    #case-studies .ui-tabs .ui-tabs-nav {
        border: none;
        border-right: none;
        margin-bottom: 20px;
    }
    #case-studies .ui-tabs .ui-tabs-nav li {
        width: auto;
        display: inline-block;
        border: 1px solid $color__grey;
    margin: 5px;
    }
    #case-studies .ui-tabs .ui-tabs-nav li.ui-tabs-active {
        margin: 5px;
    }
    #case-studies .ui-tabs .ui-tabs-nav li:first-child {
        margin-left: 0;
    }
    #case-studies .ui-tabs .ui-tabs-nav li:last-child {
        margin-right: 0;
    }
    #case-studies .ui-tabs .ui-tabs-panel {
        padding: 0;
    }
    #case-studies .ui-tabs .ui-tabs-nav li a {
        float: none;
        display: block;
    }
    #above-fold {
        padding: 40px 0;
    }
}
@media (max-width: 550px) {
    #case-studies .ui-tabs .ui-tabs-nav li, #case-studies .ui-tabs .ui-tabs-nav li:first-child, #case-studies .ui-tabs .ui-tabs-nav li:last-child, #case-studies .ui-tabs .ui-tabs-nav li.ui-tabs-active {
        width: 100%;
        display: block;
        text-align: center; 
        margin: 0;
        margin-bottom: 5px;
        font-size: 20px;
    }
    #case-studies .header-with-image h2 {
        font-size: 30px;
    line-height: 50px;
    }
    #case-studies .header-with-image img {
        margin-right: 15px;
    }
}

@media (max-width: 450px) {
    #above-fold {
        padding: 25px 0;
    }
}
@media (max-width: 400px) {
    #case-studies .header-with-image {
        display: block;
    }
    #case-studies .header-with-image img {
        display: block;
        margin: auto;
    }
    .page-template-brands-agencies-page #case-studies .row.tabs {
        padding-top: 0;
    }
}
}