.page-template-careers-page {
    #above-fold { 
        background: $color__yellow;
        text-align: left;
        min-height: 0;
        padding: 80px 0;
        .row {
            min-height: 0;
        }
        .col {
            text-align: left;
        }
        h1 {
            color: $color__grey;
            margin-top: auto;
            margin-bottom: 30px;
            max-width: none;
            margin-left: 0;
        }
        p {
            max-width: none;
            margin: 0;
            margin-bottom: 1em;
            color: $color__grey;
        }
    }
    #positions {
        .novacancies {
            display: block;
    width: 100%;
    text-align: center;
        }
        .row {
            flex-wrap: wrap;
        }
        .col.quarter {
            margin-bottom: 30px;
        }
        .job-info {
            padding: 30px;
            text-align: center;
            display: flex;
            flex-direction: column;
            border: .66px solid $color__grey; 
            height: 100%;
            h4 {
                font-size: 25px;
                color: $color__grey; 
                margin-bottom: 15px;
            }
            p {
                font-size: 14px;
                margin-top: 0;
            }
            p:last-child {
                margin-bottom: 0;
            }
            a {
                align-self: flex-end;
                margin: auto;
                margin-bottom: 0;
                font-size: 14px;
            }
    }
}
/*--animations--*/

#positions .job-info {
    opacity: 0;
}
#positions .col.quarter.start .job-info {
    animation: fade-in-bottom 1s ease both;
}


/*--media queries--*/
@media (max-width: 767px) {
    #above-fold {
        padding-top: 40px;
    } 
}
@media (max-width: 450px) {
    #above-fold {
        padding-top: 25px;
    }
}
}