.page-template-platform-page {
    background: $color__grey;
    section {
        z-index: 1;
    }
    #above-fold { 
        background: $color__grey;
        text-align: left;
        padding: 0;
        min-height: 0;
        .row {
            min-height: 0;
            z-index: 0;
        }
        .col {
            text-align: left;
        }
        h1 {
            color: #fff;
            margin-top: auto;
            margin-bottom: 30px;
            max-width: none;
            margin-left: 0;
        }
        p, .subtitle {
            max-width: none;
            margin: 0;
            margin-bottom: 1em;
            color: #fff;
        }
        .col.twothird {
            padding: 80px 10% 150px 15px;
        }
        .col.third {
            display: flex;
            img {
                align-self: flex-end;
                margin: auto;
                margin-bottom: 0;
                max-height: none;
                max-width: none;
                width: 175%;
                margin-left: -25%;
            }
        }
    }
    .platform-section.odd {
        background: #454e5b;
    }
    .platform-section.even {
        background: $color__grey;
    }
    .platform-section {
       
        h2, p, p.subtitle {
            color: #fff;
        }
        .subtitle {
            font-size: 16px;
            font-weight: $fontweight__medium;
            font-family: $font__main;
            margin-bottom: 10px;
        }
        h2 {
            margin-bottom: 30px;
            line-height: 48px;
            font-weight: $fontweight__bold
        }
        p {
            margin-top: 0;
        }
        .col.platform-text {
            display: flex;
            flex-direction: column;
            margin-left: 0;
            margin-top: auto;
            margin-bottom: auto;
        }
        .image-col {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
        }
        .col.half:first-child {
        padding-right: 30px;
        }
        .col.half:last-child {
            padding-left: 30px;
        }
    }
    #callback-cta {
    background:#e9c659;
    h3 {
        color:  $color__red;
    }
    p {
       color: $color__grey;
    }
    }

    /*--animations--*/
    #above-fold {
       .abovefoldimage {
            opacity: 0;
        }
    }
    #above-fold.start {
        .abovefoldimage {
            animation: rise 1s ease both;
        }
    }
    .platform-section {
        .image-col img {
            opacity: 0;
        }
    }
    .platform-section.odd.start .image-col img {
        animation: fade-in-left 1s ease both;     
    }
    .platform-section.even.start .image-col img {
        animation: fade-in-right 1s ease both;  
    }

    /*--media queries--*/
    @media (min-width: 981px) {
        section.stick {
            display: flex;
            height: 650px;
            width: 100%;
            position: relative;
        }
    }
    @media (max-width: 980.9px) {
        #above-fold .row {
            display: block;
        }
        #above-fold .col {
            width: 100%;
            max-width: 100%;
            display: block;
        }
        #above-fold .col.twothird {
            padding: 15px;
            padding-top: 80px;
        }
        #above-fold .col.third img {
            width: 100%;
            margin-left: auto;
        }
        .platform-section .col.half:first-child {
            padding-right: 15px;
            }
        .platform-section   .col.half:last-child {
                padding-left: 15px;
            }
        .platform-section.odd.start .image-col img {
            animation: fade-in-top 1s ease both; 
        }
        .platform-section.even.start .image-col img {
            animation: fade-in-bottom 1s ease both;
        }
        /*--
        .platform-section.odd.start p, .platform-section.odd.start h2, .platform-section.odd.start p.subheading {
            animation: fade-in-bottom 1s ease both;   
        }
                .platform-section.even.start p, .platform-section.even.start h2, .platform-section.even.start p.subheading {
            animation: fade-in-top 1s ease both;   
        }
        --*/


        .platform-section .row {
            display: block;
        }
        .platform-section .col {
            width: 100%;
            max-width: 100%;
        }

    }
    @media (max-width: 767px) {
        #above-fold .col.twothird {
            padding-top: 40px;
        }
        .platform-section h2 {
            margin-bottom: 15px;
            line-height: 38px;
        }
        #above-fold h1 {
            margin-bottom: 20px;
        }
    }
    @media (max-width: 450px) {
        #above-fold .col.twothird {
            padding-top: 25px;
        }
        #above-fold h1 {
            margin-bottom: 15px;
        }
    }
}