.page-template-platform-page {
    #above-fold { 
        background: $color__grey;
        text-align: left;
        padding: 80px 0;
        .row {
            min-height: 0;
        }
        .col {
            text-align: left;
        }
        h1 {
            color: #fff;
            margin-top: auto;
            font-size: 60px;
            margin-bottom: 30px;
            line-height: 72px;
        }
        p, .subtitle {
            max-width: none;
            margin: 0;
            margin-bottom: 1em;
            color: #fff;
        }
        .col.twothird {
            display: flex;
            flex-direction: column;
            padding: 80px 15px;
        }
        .col.third {
            display: flex;
            img {
                align-self: flex-end;
                margin: auto;
                margin-bottom: 0;
                max-height: none;
                max-width: none;
                width: 175%;
                margin-left: -25%;
            }
        }
    }
    .platform-section.even {
        background: #454e5b;
    }
    .platform-section.odd {
        background: $color__grey;
    }
    .platform-section {
       
        h2, p, p.subtitle {
            color: #fff;
        }
        .subtitle {
            font-size: 16px;
            font-weight: $fontweight__medium;
            font-family: $font__main;
            margin-bottom: 10px;
        }
        h2 {
            margin-bottom: 30px;
            line-height: 48px;
            font-weight: $fontweight__bold
        }
        p {
            margin-top: 0;
            font-size: 19px;
        }
        .col.platform-text {
            display: flex;
            flex-direction: column;
            margin-left: 0;
            margin-top: auto;
            margin-bottom: auto;
        }
        .image-col {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
        }
    }
    #callback-cta {
    background: #fff;
    h3 {
        color:  $color__red;
    }
    p {
       color: $color__grey;
    }
    }
}