.single-use-case {
    #above-fold {
        background: $color__grey;
        text-align: left;
        min-height: 0;
        .row {
            min-height: 0;
        }
        h1 {
            color: #fff;
            margin-top: auto;
            font-size: 60px;
            margin-bottom: 30px;
        }
        p {
            max-width: none;
            margin: 0;
            margin-bottom: 1em;
        }
        .col.twothird {
            display: flex;
            flex-direction: column;
            padding: 80px 15px;
        }
        .col.third {
            display: flex;
            img {
                align-self: flex-end;
                margin: auto;
                margin-bottom: 0;
                max-height: none;
                max-width: none;
                width: 175%;
                margin-left: -25%;
            }
        }
        .intro-copy {
            margin-top: auto;
            margin-bottom: auto;
        }
        .button {
            margin-left: 0;
        }
    }
    #use-cases-menu {
        background: $color__yellow;
        padding: 20px 0;
        text-align: center;
        h2 {
            color: $color__red;
        }
        ul {
            padding: 0;
            margin: 0;
            margin: 30px auto;
            li {
                display: inline-block;
                margin-right: 15px;
                padding-right: 15px;
                border-right: 1px solid $color__red;
                border-top: none;
                padding-top: 7px;
                padding-bottom: 7px;
                margin-bottom: 10px;       
                a {
                    color: $color__grey;
                }
                a.active {
                    color: $color__red;
                }
            }
            .current-menu-item a {
                color: $color__red;
            }
            li:hover a, li a:hover {
                text-decoration: none;
                color: $color__red;
            }
            li:last-child {
                border-right: none;
                margin-right: 0;
                padding-right: 0;
            }
        }
    }
.use-case-content {
        h2 {
           color: $color__red; 
           line-height: 1.2em;
           font-size: 32px;
        }
        p {
            font-size: 19px;
        }
        .image-col img {
    margin: auto;
        }
        .image-col {
            display: flex;
        }
        .col-half {
            display: flex;
            flex-direction: column;
            margin-top: auto;
            margin-bottom: auto;
        }
    }
    #callback-cta {
        background: $color__red;
    }
    #recent-posts {
        h2 {
            text-align: center;
            color:  $color__red; 
            margin-bottom: 30px;
        }
        .col.third {
            padding: 0;
        }
        .reading-time {
            font-size: .6rem;
            color: #9795a2;
            text-transform: uppercase;
            text-align: left;
            margin-bottom: 10px;
        }
    }
}