.single-use-case {
    #above-fold {
        background: $color__grey;
        text-align: left;
        min-height: 0;
        .row {
            min-height: 0;
        }
        h1 {
            color: #fff;
            margin-top: auto;
            margin-bottom: 30px;
            max-width: none;
            margin-left: 0;
        }
        p {
            max-width: none;
            margin: 0;
            margin-bottom: 1em;
        }
        .col.twothird {
            display: flex;
            flex-direction: column;
            padding: 80px 15px;
        }
        .col.third {
            display: flex;
            img {
                align-self: flex-end;
                margin: auto;
                margin-bottom: 0;
                max-height: none;
                max-width: none;
                width: 175%;
                margin-left: -25%;
            }
        }
        .intro-copy {
            margin-top: auto;
            margin-bottom: auto;
        }
        .button {
            margin-left: 0;
        }
    }
    #use-cases-menu {
        background: $color__yellow;
        padding: 20px 0;
        text-align: center;
        h2 {
            color: $color__red;
        }
        ul {
            padding: 0;
            margin: 0;
            margin: 30px auto;
            li {
                display: inline-block;
                margin-right: 15px;
                padding-right: 15px;
                border-right: 1px solid $color__red;
                border-top: none;
                padding-top: 7px;
                padding-bottom: 7px;
                margin-bottom: 10px;
                font-size: 17px;       
                a {
                    color: $color__grey;
                }
                a.active {
                    color: $color__red;
                }
            }
            .current-menu-item a {
                color: $color__red;
            }
            li:hover a, li a:hover {
                text-decoration: none;
                color: $color__red;
            }
            li:last-child {
                border-right: none;
                margin-right: 0;
                padding-right: 0;
            }
        }
    }

.use-case-content {
    .row.odd h2, .row.odd p {
        max-width: 450px;
        margin-right: 0;
        margin-left: auto;
    }
    .row.even h2, .row.even p {
        max-width: 450px;
        margin-left: 0;
        margin-right: auto;
    }
        h2 {
           color: $color__red; 
           line-height: 1.2em;
           font-size: 32px;
           opacity: 0;
        }
        p {
            opacity: 0;
        }
        .image-col img {
    margin: auto;
    opacity: 0;
        }
        .image-col {
            justify-content: space-around;
        }
        .text-col {
            margin-top: auto;
            margin-bottom: auto;
            justify-content: space-around;
        }
    }
    .use-case-content.even {
        background: $color__vlightgrey;
        position: relative;
        overflow: hidden;
        .signoi-logo-background {
            position: absolute;
            right: -33%;
            opacity: .1;
            z-index: 0;
            top: 15%;
        }
    }
    #callback-cta {
        background: $color__red;
        h3 {
            margin-bottom: 20px;
        }
    }
    #recent-posts {
        h2 {
            text-align: center;
            color:  $color__red; 
            margin-bottom: 30px;
        }
        .col.third {
            padding: 0;
        }
        .reading-time {
            font-size: .6rem;
            color: #9795a2;
            text-transform: uppercase;
            text-align: left;
            margin-bottom: 10px;
        }
    }
    /*--animations--*/
    #above-fold {
        h1, p, button, .abovefoldimage {
            opacity: 0;
        }
    }
    #above-fold.start {
        .abovefoldimage {
            animation: rise 1s ease both;
            animation-delay: .9s;
        }
        h1, p, button {
            animation: fade-in-bottom 1s ease both;   
        }
        p {
            animation-delay: .3s;
        }
        button {
            animation-delay: .6s;
        }
    }
    #use-cases-menu {
        h2, .footermenu {
            opacity: 0;
        }
    }
    #use-cases-menu.start {
        h2, .footermenu {
            animation: fade-in-bottom 1s ease both;   
        }
        .footermenu {
            animation-delay: .3s;
        }
    }
    .use-case-content.start {
        .row.odd {
        h2 {
                animation: fade-in-bottom 1s ease both;
               
            }
            p {
                animation: fade-in-bottom 1s ease both;
                animation-delay: .3s;
            }
            .image-col img {
                animation: fade-in-right 1s ease both;
                animation-delay: .6s;
            }
        }
        .row.even {
            h2 {
                animation: fade-in-bottom 1s ease both;
                animation-delay: .3;
            }
            p {
                animation: fade-in-bottom 1s ease both;
                animation-delay: .6s;
            }
            .image-col img {
                animation: fade-in-left 1s ease both;
            }
            }
    }
    #callback-cta {
        h3, p, .book-demo-button {
            opacity: 0; 
        }
    }
    
    #callback-cta.start {
        h3, p, .book-demo-button {
            animation: fade-in-bottom 1s ease both; 
        }
    
        p {
            animation-delay: .3s;  
        }
    
        button {
            animation-delay: .6s;  
        }
    }
    #recent-posts {
        h2, .single-blog-item {
            opacity: 0;
        }
    }
    #recent-posts.start {
        h2, .single-blog-item {
            animation: fade-in-bottom 1s ease both; 
        }

            .single-blog-item  {
                animation-delay: .3s;
            }
    }
}