.single-use-case {
    #above-fold {
        background: $color__grey;
        text-align: left;
        min-height: 0;
        .row {
            min-height: 0;
        }
        h1 {
            color: #fff;
            margin-top: auto;
            margin-bottom: 30px;
            max-width: none;
            margin-left: 0;
        }
        p {
            max-width: none;
            margin: 0;
            margin-bottom: 1em;
        }
        .col.twothird {
            display: flex;
            flex-direction: column;
            padding: 80px 80px 80px 15px;
        }
        .col.third {
            display: flex;
            img {
                align-self: flex-end;
                margin: auto;
                margin-bottom: 0;
                max-height: none;
                max-width: none;
                width: 175%;
                margin-left: -25%;
            }
        }
        .intro-copy {
            margin-top: auto;
            margin-bottom: auto;
        }
        .button {
            margin-left: 0;
        }
    }
    #use-cases-menu {
        background: $color__yellow;
        padding: 20px 0;
        text-align: center;
        h2 {
            color: $color__red;
        }
        ul {
            padding: 0;
            margin: 0;
            margin: 30px auto;
            li {
                display: inline-block;
                margin-right: 15px;
                padding-right: 15px;
                border-right: 1px solid $color__red;
                border-top: none;
                padding-top: 7px;
                padding-bottom: 7px;
                margin-bottom: 10px;
                font-size: 18px;       
                a {
                    color: $color__grey;
                }
                a.active {
                    color: $color__red;
                }
            }
            .current-menu-item a {
                color: $color__red;
            }
            li:hover a, li a:hover {
                text-decoration: none;
                color: $color__red;
            }
            li:last-child {
                border-right: none;
                margin-right: 0;
                padding-right: 0;
            }
        }
    }

.use-case-content {
    .col.half:first-child {
        padding-right: 30px;
        }
        .col.half:last-child {
            padding-left: 30px;
        }
    .row.odd h2, .row.odd p {
        max-width: 450px;
        margin-right: 0;
        margin-left: auto;
    }
    .row.even h2, .row.even p {
        max-width: 450px;
        margin-left: 0;
        margin-right: auto;
    }
        h2 {
           color: $color__red; 
           line-height: 1.2em;
           font-size: 32px;
           opacity: 0;
        }
        p {
            opacity: 0;
        }
        .image-col img {
    margin: auto;
    opacity: 0;
        }
        .image-col {
            justify-content: space-around;
        }
        .text-col {
            margin-top: auto;
            margin-bottom: auto;
            justify-content: space-around;
        }
    }
    .use-case-content.even {
        background: $color__vlightgrey;
        position: relative;
        overflow: hidden;
        .signoi-logo-background {
            position: absolute;
            right: -33%;
            opacity: .1;
            z-index: 0;
            top: 15%;
        }
    }
    #callback-cta {
        background: $color__red;
        h3 {
            margin-bottom: 20px;
        }
    }
    #recent-posts {
        h2 {
            text-align: center;
            color:  $color__red; 
            margin-bottom: 30px;
        }
        .col.third {
            padding: 0;
        }
        .reading-time {
            font-size: .6rem;
            color: #9795a2;
            text-transform: uppercase;
            text-align: left;
            margin-bottom: 10px;
        }
    }
    /*--animations--*/

    .use-case-content {
        .image-col img {
            opacity: 0;
        }
    }

    .use-case-content.start {
        .row.odd {
            .image-col img {
                animation: fade-in-right 1s ease both;
            }
        }
        .row.even {
            .image-col img {
                animation: fade-in-left 1s ease both;
            }
            }
    }
 
    #recent-posts {
    .single-blog-item {
            opacity: 0;
        }
    }
    #recent-posts.start {
     .single-blog-item {
            animation: fade-in-bottom 1s ease both; 
        }
    }

    /*--media queries--*/
    @media (max-width: 980px) {
        #above-fold .row {
            display: block;
        }
        #above-fold .col {
            width: 100%;
            max-width: 100%;
            display: block;
        }
        #above-fold .col.twothird {
            padding: 15px;
            padding-top: 80px;
        }
        #above-fold .col.third img {
            width: 100%;
            margin-left: auto;
        }
       #above-fold button {
           margin-top: 10px;
           margin-bottom: 20px;
       }
    }
    @media (max-width: 767px) {
        #above-fold .col.twothird {
            padding-top: 40px;
        }
        #above-fold h1 {
            margin-bottom: 20px;
        }
        .use-case-content .col.half:first-child {
            padding-right: 15px;
            }
            .use-case-content    .col.half:last-child {
                padding-left: 15px;
            }
        .use-case-content.start .row.odd .image-col img {
            animation: fade-in-top 1s ease both;
        }
        .use-case-content.start .row.even .image-col img {
            animation: fade-in-bottom 1s ease both;     
        }
        /*--
        .use-case-content.start .row.odd  p,  .use-case-content.start .row.odd  h2 {
            animation: fade-in-bottom 1s ease both;   
        }

        .use-case-content.start .row.even  p,  .use-case-content.start .row.even  h2 {
            animation: fade-in-top 1s ease both;   
        }
        --*/
        .use-case-content .text-col {
        margin: 0;
        }
       .use-case-content .row.odd h2, .use-case-content .row.odd p, .use-case-content .row.even h2, .use-case-content .row.even p {
        margin-right: auto;
        margin-left: auto;
        max-width: 500px;
       }
       .use-case-content.even .signoi-logo-background {
           display: none;
       }
       #recent-posts .single-blog-item {
        max-width: 420px;
        margin: auto;
       }
    }
    @media (max-width: 600px) {
        #use-cases-menu ul li {
            border: 1px solid $color__red;
            border-top: 1px solid $color__red;
            padding: 7px;
            margin: 5px;
        }
        #use-cases-menu ul li:last-child {
            border-right: 1px solid $color__red;
            margin-right: 5px;
            padding-right: 7px;
        }
      #use-cases-menu ul {
            margin: 20px auto;
        }
    }
    @media (max-width: 450px) {
        #use-cases-menu ul li {
            display: block;
        }
        #recent-posts h2 {
            margin-bottom: 15px;
        }
        #above-fold .col.twothird {
            padding-top: 25px;
        }
        #above-fold h1 {
            font-size: 35px;
            margin-bottom: 15px;
        }
    }
}