.sticky {
	display: block;
}

.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0;
}

/*--main site structure--*/

#content {
	overflow: hidden;
}

.row {
	width: 90%;
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: auto;
}

.col {
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 768px) {
	.col.full {
			width: 100%;
		}
	.col.half {
		width: 50%;
	}
	.col.third {
		width: 33.33333333%;
	}
	.col.quarter {
		width: 25%;
	}
	.col.fifth {
		width: 20%;
	}
	.row {
		display: flex;
	}
	section {
		padding: 80px 0;
	}
}

@media (max-width: 767.99px) {
	.row {
		display: block;
	}
	.col {
		width: 100%;
	}
	section {
		padding: 40px 0;
	}
}